@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: "Lato", sans-serif;
}

/* INICIA PANTALLA PPAL↓ */
.section-calendario{
  background-image: repeating-linear-gradient(45deg, rgb(255,255,255) 0px, rgb(255, 255, 255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(256,7%,84%),hsl(256,7%,84%));
}

.div-superior{
  display: flex;
  align-items: center;
  gap: 3vw;
}

svg{
  width: 2.5vw;
}

.selectores{
  background-color: rgba(137, 43, 226, 0.11);
  border: none;
  margin: 1vw;
  border-radius: 10px;
}

.home{
color: white;
background-color: green;
}

.estudio{
  background-color: violet;
}

.vacaciones{
  color: white;
  background-color: blue;
}

.extra{
  color: white;
  background-color: rgba(0, 192, 0, 0.757);
}

.deuda{
  color: white;
  background-color: rgba(255, 0, 0, 0.774);
}

.enfermedad{
  background-color: orange;
}

.programada{
  background-color: pink;
}

.otras{
  background-color: yellow;
}

.btn-resumen{
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: rgba(137, 43, 226, 0.443);
  border-radius: 10px;
  border:none;
  font-weight: bold;
}


ol{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  margin: 1vw;
}

.day-name{
  border: 1px solid black;
  min-height: 3vh;
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  margin: 1px;
}



.days{
  background-color: rgba(255, 255, 255, 0.531);
  padding: 1px;
  border: 1px solid black;
  min-height: 13.5vh;
  border-radius: 8px;
  margin: 1px;
}

.days:hover{
  background-color: #ff3a3a3b;
}

.rojo{
  background-color: blue;
}

.empiezaLunes{
  grid-column-start: 1;
}

.empiezamartes{
  grid-column-start: 2;
}


.empiezaMiercoles{
  grid-column-start: 3;
}


.empiezaJueves{
  grid-column-start: 4;
}


.empiezaViernes{
  grid-column-start: 5;
}


.empiezaSabado{
  grid-column-start: 6;
}

.empiezaDomingo{
  grid-column-start: 7;
}

.poner-borroso{
  filter: blur(5px);
}

.color-svg{
  fill:red;
}









/* MEDIA QUERYS */
@media screen and (max-width: 524px) {
  
  .selectores{
    font-size: 3vw;
    width: 30vw;
    background-color: rgba(137, 43, 226, 0.11);
    border: none;
    margin: 1vw;
    border-radius: 10px;
  }

  .btn-resumen{
    position: relative;
    top: 2%;
    right: 2%;
    margin: 4vw;
  }

  .day-name{
    font-size: 3vw;
  }

  .days{
    min-height: 8vh;
    max-width: 14vw;
    border-radius: 8px;
    margin: 1px;
  }
}
/* FIN PANTALLA PPAL↑ */










/* INICIA MODAL DE DAYS ↓ */
.formulario{
  position: absolute;
  width: 70%;
  height: 90%;
  top: 5%;
  left: 15%;
  background-image: linear-gradient(158deg, rgba(84, 84, 84, 0.03) 0%, rgba(84, 84, 84, 0.03) 20%,rgba(219, 219, 219, 0.03) 20%, rgba(219, 219, 219, 0.03) 40%,rgba(54, 54, 54, 0.03) 40%, rgba(54, 54, 54, 0.03) 60%,rgba(99, 99, 99, 0.03) 60%, rgba(99, 99, 99, 0.03) 80%,rgba(92, 92, 92, 0.03) 80%, rgba(92, 92, 92, 0.03) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.02) 0%, rgba(221, 221, 221, 0.02) 14.286%,rgba(8, 8, 8, 0.02) 14.286%, rgba(8, 8, 8, 0.02) 28.572%,rgba(52, 52, 52, 0.02) 28.572%, rgba(52, 52, 52, 0.02) 42.858%,rgba(234, 234, 234, 0.02) 42.858%, rgba(234, 234, 234, 0.02) 57.144%,rgba(81, 81, 81, 0.02) 57.144%, rgba(81, 81, 81, 0.02) 71.42999999999999%,rgba(239, 239, 239, 0.02) 71.43%, rgba(239, 239, 239, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.03) 0%, rgba(33, 33, 33, 0.03) 12.5%,rgba(147, 147, 147, 0.03) 12.5%, rgba(147, 147, 147, 0.03) 25%,rgba(131, 131, 131, 0.03) 25%, rgba(131, 131, 131, 0.03) 37.5%,rgba(151, 151, 151, 0.03) 37.5%, rgba(151, 151, 151, 0.03) 50%,rgba(211, 211, 211, 0.03) 50%, rgba(211, 211, 211, 0.03) 62.5%,rgba(39, 39, 39, 0.03) 62.5%, rgba(39, 39, 39, 0.03) 75%,rgba(55, 55, 55, 0.03) 75%, rgba(55, 55, 55, 0.03) 87.5%,rgba(82, 82, 82, 0.03) 87.5%, rgba(82, 82, 82, 0.03) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.02) 0%, rgba(42, 42, 42, 0.02) 20%,rgba(8, 8, 8, 0.02) 20%, rgba(8, 8, 8, 0.02) 40%,rgba(242, 242, 242, 0.02) 40%, rgba(242, 242, 242, 0.02) 60%,rgba(42, 42, 42, 0.02) 60%, rgba(42, 42, 42, 0.02) 80%,rgba(80, 80, 80, 0.02) 80%, rgba(80, 80, 80, 0.02) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(67, 67, 67, 0.03) 14.286%, rgba(67, 67, 67, 0.03) 28.572%,rgba(134, 134, 134, 0.03) 28.572%, rgba(134, 134, 134, 0.03) 42.858%,rgba(19, 19, 19, 0.03) 42.858%, rgba(19, 19, 19, 0.03) 57.144%,rgba(101, 101, 101, 0.03) 57.144%, rgba(101, 101, 101, 0.03) 71.42999999999999%,rgba(205, 205, 205, 0.03) 71.43%, rgba(205, 205, 205, 0.03) 85.71600000000001%,rgba(53, 53, 53, 0.03) 85.716%, rgba(53, 53, 53, 0.03) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.03) 0%, rgba(214, 214, 214, 0.03) 16.667%,rgba(255, 255, 255, 0.03) 16.667%, rgba(255, 255, 255, 0.03) 33.334%,rgba(250, 250, 250, 0.03) 33.334%, rgba(250, 250, 250, 0.03) 50.001000000000005%,rgba(231, 231, 231, 0.03) 50.001%, rgba(231, 231, 231, 0.03) 66.668%,rgba(241, 241, 241, 0.03) 66.668%, rgba(241, 241, 241, 0.03) 83.33500000000001%,rgba(31, 31, 31, 0.03) 83.335%, rgba(31, 31, 31, 0.03) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 12.5%,rgba(97, 97, 97, 0.03) 12.5%, rgba(97, 97, 97, 0.03) 25%,rgba(143, 143, 143, 0.03) 25%, rgba(143, 143, 143, 0.03) 37.5%,rgba(110, 110, 110, 0.03) 37.5%, rgba(110, 110, 110, 0.03) 50%,rgba(34, 34, 34, 0.03) 50%, rgba(34, 34, 34, 0.03) 62.5%,rgba(155, 155, 155, 0.03) 62.5%, rgba(155, 155, 155, 0.03) 75%,rgba(249, 249, 249, 0.03) 75%, rgba(249, 249, 249, 0.03) 87.5%,rgba(179, 179, 179, 0.03) 87.5%, rgba(179, 179, 179, 0.03) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.02) 0%, rgba(58, 58, 58, 0.02) 25%,rgba(124, 124, 124, 0.02) 25%, rgba(124, 124, 124, 0.02) 50%,rgba(254, 254, 254, 0.02) 50%, rgba(254, 254, 254, 0.02) 75%,rgba(52, 52, 52, 0.02) 75%, rgba(52, 52, 52, 0.02) 100%),linear-gradient(90deg, #ffffff,#ffffff);
  border-radius: 15px;
}

.h1-formulario{
  text-align: center;
}

.formulario-close{
  font-size: 1.5vw;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: red;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 96%;
}

.formulario-close:hover{
  color: rgb(169, 0, 0);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.formulario-add{
  filter: drop-shadow(2px 2px 3px black);
  font-size: 2vw;
  border: none;
  border-radius: 50%;
  background-color: rgba(179, 190, 255, 0);
  color: blueviolet;
  font-weight: bold;
  position: relative;
  top: 1%;
  left: 1%;
}

.formulario-add:hover{
  filter: drop-shadow(3px 3px 4px black);
  color: rgb(58, 0, 113);
}

svg{
  vertical-align: text-bottom;
}

.aplicar-display-none{
  display: none!important;
}




/* MEDIA QUERYS */
@media screen and (max-width: 524px) {

  .formulario{
    width: 90%;
    left: 5%;
  }

.formulario-close{
  font-size: 7vw;
  top: 0.1%;
  left: 88%;
}

svg{
    width: 8vw;
  }
}
/* TERMINA MODAL DE DAYS ↑ */












/* INICIA FOMRULARIO ↓ */
.formulario-nueva-tarea{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 70%;
  height: 90%;
  top: 5%;
  left: 15%;
  border-radius: 15px;
  background-image: linear-gradient(90deg, rgba(231, 231, 231, 0.08) 0%, rgba(231, 231, 231, 0.08) 14%,rgba(224, 224, 224, 0.08) 14%, rgba(224, 224, 224, 0.08) 51%,rgba(140, 140, 140, 0.08) 51%, rgba(140, 140, 140, 0.08) 100%),linear-gradient(90deg, rgba(244, 244, 244, 0.09) 0%, rgba(244, 244, 244, 0.09) 21%,rgba(158, 158, 158, 0.09) 21%, rgba(158, 158, 158, 0.09) 31%,rgba(162, 162, 162, 0.09) 31%, rgba(162, 162, 162, 0.09) 89%,rgba(115, 115, 115, 0.09) 89%, rgba(115, 115, 115, 0.09) 100%),linear-gradient(90deg, rgb(7, 243, 201),rgb(101, 118, 219));
}

.h1-formulario-nueva-tarea{
  font-size: 2vw;
  margin-top: 6vh;
  text-align: center;
}

.formulario-close-nueva-tarea{
  font-size: 1.5vw;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062);
  color: red;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 96%;
}

.formulario-close-nueva-tarea:hover{
  color: rgb(169, 0, 0);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.div-selectores-formulario{
  display: flex;
  flex-direction: column;
  margin: 5vw 25vw;
}

.selectores-formulario{
  font-size: 1.2vw;
  text-align: center;
  border-radius: 10px;
  margin-top: 4vh;
}

.div-botones-formulario{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  align-items: self-end;
  margin-bottom: 10vh;
}

.botones-formulario{
  color: white;
  min-width: 10vw;
  font-size: 1.5vw;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 188, 0, 0.664);
  margin: 0 3vw;
}

.botones-formulario:hover{
  text-shadow: 1px 1px 3px black;
  background-color: rgba(0, 188, 0, 0.539);
}

.div-contador-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.span-contador{
  font-size: 2vw;
}

.btn-contador{
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  font-size: 2vw;
}

.btn-contador:hover{
  background-color: rgba(255, 255, 255, 0.822);
  text-shadow: 1px 1px 2px black;
}

.btn-contador:active{
  background-color: pink;
}




/* MEDIA QUERYS */
@media screen and (max-width: 524px) {

.formulario-nueva-tarea{
  width: 90%;
  left: 5%;
}

.formulario-close-nueva-tarea{
  font-size: 7vw;
  top: 0.1%;
  left: 88%;
}

.h1-formulario-nueva-tarea{
  font-size: 6vw;
}

.div-selectores-formulario{
  margin: 5vw 20vw;
}

.selectores-formulario{
  font-size: 4vw;
  margin-top: 4vh;
}


.botones-formulario{
  min-width: 25vw;
  font-size: 5vw;
}

.div-contador-formulario{
  margin-top: 10vh;
  gap: 5vw;
}

.span-contador{
  font-size: 7vw;
}

.btn-contador{
  display: flex;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  font-size: 8vw;
}

}
/* TERMINA FORMULARIO ↑ */










/* INICIA CARDS RESUMEN ↓ */
.cards-resumen{
  position: absolute;
  top: 4.5%;
  left: 1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-close-resumen{
  font-size: 1vw;
  font-weight: bold;
  position: absolute;
  top: 1%;
  right: 1%;
  border: none;
  border-radius: 50%;
  background-color: red;
  padding: 10px 15px;
}

.btn-close-resumen:hover{
  text-shadow: 1px 1px 2px black;
  background-color: rgba(255, 0, 0, 0.877);
}

.h1-cards{
  margin-top: 2vw;
}

.card-resumen{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46vw;
  height: 40vh;
  border-radius: 15px;
  margin: 1.5vw;
  background-image: radial-gradient(circle at 91% 26%, rgba(255,255,255, 0.12) 0%, rgba(255,255,255, 0.12) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 27% 63%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 59% 48%, rgba(255,255,255, 0.13) 0%, rgba(255,255,255, 0.13) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 58% 65%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 55% 21%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 88% 4%, rgba(255,255,255, 0.12) 0%, rgba(255,255,255, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 9% 23%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 40% 78%, rgba(255,255,255, 0.12) 0%, rgba(255,255,255, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 78% 5%, rgba(255,255,255, 0.13) 0%, rgba(255,255,255, 0.13) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 11% 87%, rgba(255,255,255, 0.13) 0%, rgba(255,255,255, 0.13) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 11% 24%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 18% 75%, rgba(255,255,255, 0.12) 0%, rgba(255,255,255, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 71% 80%, rgba(255,255,255, 0.12) 0%, rgba(255,255,255, 0.12) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 34% 79%, rgba(255,255,255, 0.13) 0%, rgba(255,255,255, 0.13) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 9% 51%, rgba(255,255,255, 0.12) 0%, rgba(255,255,255, 0.12) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 46% 69%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 54% 90%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 55% 58%, rgba(255,255,255, 0.13) 0%, rgba(255,255,255, 0.13) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 95% 37%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 9% 4%, rgba(255,255,255, 0.11) 0%, rgba(255,255,255, 0.11) 5%,transparent 5%, transparent 100%),linear-gradient(135deg, rgb(249,93,202),rgb(11,13,179));
}

.div-p-cards{
  font-size: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1vw 2vw;
}





/* MEDIA QUERYS */
@media screen and (max-width: 524px) {
  .cards-resumen{
    margin-top: 3vh;
  }
  
  .btn-close-resumen{
    font-size: 4vw;
    right: 3%;
  }
  
  .h1-cards{
    margin-top: 2vw;
    font-size: 4vw;
  }
  
  
  .div-p-cards{
    font-size: 3vw;
    padding: 5vh 2vw;
  }
}
/* TERMINA CARDS RESUMEN ↑ */












/*INICIA MODAL CARGANDO ↓ */
.modal_carga {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  font-size: 4vw;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
/* FIN MODAL CARGANDO ↑ */

